In [ ]:
import pandas as pd
from dateutil import relativedelta

"""
0 = actual/actual
1 = 30/360 (SIA)
2 = actual/360
3 = actual/365
4 = 30/360 (PSA)
5 = 30/360 (ISDA)
6 = 30/360 (European)
7 = actual/365 (Japanese)
https://www.mathworks.com/help/fininst/day-count-basis.html
"""

'\n0 = actual/actual\n1 = 30/360 (SIA)\n2 = actual/360\n3 = actual/365\n4 = 30/360 (PSA)\n5 = 30/360 (ISDA)\n6 = 30/360 (European)\n7 = actual/365 (Japanese)\nhttps://www.mathworks.com/help/fininst/day-count-basis.html\n'

In [4]:
def day_count(t1, t2, basis):
    t1 = pd.to_datetime(t1)
    t2 = pd.to_datetime(t2)

    def is_leap(year):
        return (year % 400 == 0) or (year % 100 != 0 and year % 4 == 0)

    if t1 > t2:
        print("t1 is greater than t2")
        return
    match basis:
        case 0:  # actual/actual
            return (t2 - t1).days
        case 1:  # 30/360 (SIA)
            d1, d2 = t1.day, t2.day
            delta = relativedelta.relativedelta(t2, t1)
            if t1.month == t2.month == 2 and t1.day == t2.day == (
                29 if is_leap(t1.year) else 28
            ):
                d2 = 30
            if t2.month == 2 and t2.day == (29 if is_leap(t2.year) else 28):
                d2 = 30
            if t1.day == 31:
                d1 = 30
            if d1 == 30 and t2.day == 31:
                d2 = 30
            total_days = 360 * delta.years + 30 * delta.months + d2 - d1
            return total_days
        case 2:  # actual/360
            return (t2 - t1).days
        case 3:  # actual/365
            return (t2 - t1).days
        case 4:  # 30/360 (PSA)
            d1, d2 = t1.day, t2.day
            delta = relativedelta.relativedelta(t2, t1)
            if t1.day == 31 or (
                t1.month == 2 and t1.day == (29 if is_leap(t1.year) else 28)
            ):
                d1 = 30
            if d1 == 30 and t2.day == 31:
                d2 = 30
            total_days = 360 * delta.years + 30 * delta.months + d2 - d1
            return total_days
        case 5:  # 30/360 (ISDA)
            d1, d2 = t1.day, t2.day
            delta = relativedelta.relativedelta(t2, t1)
            if t1.day == 31:
                d1 = 30
            if d1 == 30 and t2.day == 31:
                d2 = 30
            total_days = 360 * delta.years + 30 * delta.months + d2 - d1
            return total_days
        case 6:  # 30/360 (European)
            d1, d2 = t1.day, t2.day
            delta = relativedelta.relativedelta(t2, t1)
            if t1.day == 31:
                d1 = 30
            if t2.day == 31:
                d2 = 30
            total_days = 360 * delta.years + 30 * delta.months + d2 - d1
            return total_days
        case 7:  # Actual/365 (Japanese)
            total_days = (t2 - t1).days
            leap_days = 0
            for year in range(t1.year, t2.year + 1):
                if (year % 400 == 0) or (year % 100 != 0 and year % 4 == 0):
                    if t1 <= pd.to_datetime(f"{year}-02-29") < t2:
                        leap_days += 1
            total_days -= leap_days
            return total_days

In [5]:
def year_count(t1, t2, basis):

    t1 = pd.to_datetime(t1)
    t2 = pd.to_datetime(t2)

    def is_leap(year):
        return (year % 400 == 0) or (year % 100 != 0 and year % 4 == 0)

    if t1 > t2:
        print("t1 is greater than t2")
        return
    match basis:
        case 0:  # actual/actual
            total = 0.0
            temp = t1
            while temp < t2:
                end_date = pd.to_datetime(f"{temp.year+1}-01-01")
                end_date = min(end_date, t2)
                temp_days = (end_date - temp).days
                year_days = 366 if is_leap(temp.year) else 365
                total += temp_days / year_days
                temp = end_date
            return total
        case 1:  # 30/360 (SIA)
            d1, d2 = t1.day, t2.day
            delta = relativedelta.relativedelta(t2, t1)
            if t1.month == t2.month == 2 and t1.day == t2.day == (
                29 if is_leap(t1.year) else 28
            ):
                d2 = 30
            if t2.month == 2 and t2.day == (29 if is_leap(t2.year) else 28):
                d2 = 30
            if t1.day == 31:
                d1 = 30
            if d1 == 30 and t2.day == 31:
                d2 = 30
            total_days = 360 * delta.years + 30 * delta.months + d2 - d1
            return total_days / 360.0
        case 2:  # actual/360
            total_days = (t2 - t1).days
            return total_days / 360.0
        case 3:  # actual/365
            total_days = (t2 - t1).days
            return total_days / 365
        case 4:  # 30/360 (PSA)
            d1, d2 = t1.day, t2.day
            delta = relativedelta.relativedelta(t2, t1)
            if t1.day == 31 or (
                t1.month == 2 and t1.day == (29 if is_leap(t1.year) else 28)
            ):
                d1 = 30
            if d1 == 30 and t2.day == 31:
                d2 = 30
            total_days = 360 * delta.years + 30 * delta.months + d2 - d1
            return total_days / 360.0
        case 5:  # 30/360 (ISDA)
            d1, d2 = t1.day, t2.day
            delta = relativedelta.relativedelta(t2, t1)
            if t1.day == 31:
                d1 = 30
            if d1 == 30 and t2.day == 31:
                d2 = 30
            total_days = 360 * delta.years + 30 * delta.months + d2 - d1
            return total_days / 360.0
        case 6:  # 30/360 (European)
            d1, d2 = t1.day, t2.day
            delta = relativedelta.relativedelta(t2, t1)
            if t1.day == 31:
                d1 = 30
            if t2.day == 31:
                d2 = 30
            total_days = 360 * delta.years + 30 * delta.months + d2 - d1
            return total_days / 360.0
        case 7:  # Actual/365 (Japanese)
            total_days = (t2 - t1).days
            leap_days = 0
            for year in range(t1.year, t2.year + 1):
                if (year % 400 == 0) or (year % 100 != 0 and year % 4 == 0):
                    if t1 <= pd.to_datetime(f"{year}-02-29") < t2:
                        leap_days += 1
            total_days -= leap_days
            return total_days / 365.0

In [9]:
t1 = pd.to_datetime("2024-02-29")
t2 = pd.to_datetime("2028-06-15")

In [10]:
for i in range(8):
    print("Basis ", i, ": ", day_count(t1, t2, basis=i))

Basis  0 :  1568
Basis  1 :  1516
Basis  2 :  1568
Basis  3 :  1568
Basis  4 :  1515
Basis  5 :  1516
Basis  6 :  1516
Basis  7 :  1566

In [11]:
for i in range(8):
    print("Basis ", i, ": ", year_count(t1, t2, basis=i))

Basis  0 :  4.2923497267759565
Basis  1 :  4.211111111111111
Basis  2 :  4.355555555555555
Basis  3 :  4.295890410958904
Basis  4 :  4.208333333333333
Basis  5 :  4.211111111111111
Basis  6 :  4.211111111111111
Basis  7 :  4.2904109589041095